/* ============================ FORMATAÇÕES GERAIS ===================== */
@import url(/assets/css/variables.css);
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    font-family: "sarala";
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--verde);
}

/* ============================ FORMATAÇÕES CONTAINER ===================== */

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    width: 70%;
    min-height: 75vh;
    border-radius: 30px;
    background-color: var(--fundo);
    padding: 10px 15px;
    box-shadow: 0px 0px 15px 1px #000;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ============================ FORMATAÇÕES CONTENT ===================== */

#content {
    width: 100%;
    height: 100%;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#content h2 {
    width: 100%;
    text-align: center;
    padding-left: 15%;
    color: #fff;
    letter-spacing: 2px;
}

button#help {
    border-radius: 5px;
    padding: 2px 5px;
    font-size: .5em;
    float: right;
    margin: 1.5% 0;
    text-decoration: none;
    font-weight: bolder;
    outline: none;
    background-color: rgb(184, 0, 0);
    border: none;
    color: rgb(192, 192, 192);
    cursor: pointer;
    transition: .2s;
}

button#help:hover {
    filter: contrast(2);
}

button#help-inside {
    color: rgb(192, 192, 192);
    border-radius: 5px;
    padding: 2px 5px;
    margin: 1.5% 0;
    text-decoration: none;
    background-color: rgb(184, 0, 0);
    font-weight: bolder;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 35%;
    padding: 5px 10%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    transition: .2s;
}

button#help-inside:hover {
    filter: contrast(2);
}

#help-content {
    color: rgb(192, 192, 192);
    display: none;
    width: 40%;
    height: 50%;
    opacity: 1;
    background-color: var(--subfundo);
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    position: absolute;
    margin: 12.5% 30%;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 2000px rgba(0, 0, 0, 0.726);
    position: absolute relative;
}

#help-content h3 {
    text-align: center;
    font-weight: bolder;
    font-family: 'righteous';
    margin: 10px;
    letter-spacing: 1px;
}

.blur {
    filter: blur(20px);
}

#topo {
    width: 100%;
    height: 5%;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#logo {
    margin: 3rem;
    padding: 38px;
}

.hide {
    display: none;
    opacity: 0;
}

.show {
    display: block;
    opacity: 1;
}

#inputs {
    height: 70%;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--subfundo);
    box-shadow: 1px 0px 10px #000;
    overflow-y: scroll;
    overflow-x: hidden;

    opacity: 1;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 90%;
    height: 2.5rem;
    border-radius: 10px;
    outline: 0;
    box-shadow: 0;
    padding: 5px 10px;
    border: none;
    background-color: #000011;
    transition: 0.5s;
    margin-bottom: 20px;
    color: #fff;
}

input:focus {
    border: 1px solid var(--verde);
}

label {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    margin-left: 2rem;
    text-shadow: 0px 0px 10px var(--fundo);
    font-size: 1.2rem;
    font-weight: 300;
}

input::placeholder {
    color: #fff;
}

.horario {
    max-width: 35%;
    min-width: 25%;
    max-height: 70%;
    min-height: 60%;
    margin: 1.8rem;
    background-color: #00ff9165;
    box-shadow: 1px 0px 10px #000;
    text-align: center;
    color: #fff;

    padding-bottom: 5px;
    padding-top: 20px;
    border-radius: 20px;
    opacity: 1;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horario p {
    background-color: var(--subfundo);
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 5px;
}

#btn-limpar button {
    align-self: flex-end;
    margin: 0 50%;
}

#btn-limpar {
    display: none;
    width: 90%;
    border-radius: 15px;
    padding: 12px 0;
    background-color: rgb(184, 0, 0);
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: .2s;
}

#btn-limpar:hover {
    filter: contrast(2);
}


#inputs #submit {
    margin-top: 10px;
    border: none;
    padding: 12px 0;
    width: 95%;
    border-radius: 15px;
    background-color: var(--verde);
    cursor: pointer;
    color: #000;
    font-weight: bolder;
    font-family: 'righteous';
    letter-spacing: .5px;
}

#inputs #submit:hover {
    transition: .25s;
    background-color: #00c771;
}

/* ============================ MEDIA QUERY ===================== */
@media screen and (max-width: 1359px) {
    #container {
        min-height: 90vh;
    }

    #logo {
        display: none;
    }

    #inputs {
        width: 80%;
    }

    .horario {
        min-width: 50%;
    }

    #help-content {
        width: 60%;
        height: 70%;
        margin: 13% 20%;
    }

    button#help-inside {
        margin-top: 55%;
    }
}

@media screen and (max-width: 768px) {
    button#help-inside {
        margin-top: 65%;
    }
}

@media screen and (max-width: 593px) {
    #content h2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
    }

    button#help-inside {
        margin-top: 75%;
    }

    #help-content {
        width: 70%;
        margin: 15% 15%;
    }

    .horario {
        min-width: 65%;
    }
}

@media screen and (max-width: 486px) {
    #container {
        width: 90%;
        height: 90%;
    }

    button#help-inside {
        margin-top: 80%;
    }

    #help-content {
        width: 80%;
        margin: 25% 10%;
    }
}

@media screen and (max-width: 425px) {
    #inputs {
        width: 90%;
    }

    .horario {
        min-width: 75%;
    }

    button#help-inside {
        margin-top: 90%;
    }
}

@media screen and (max-width: 375px) {
    #container {
        width: 95%;
        height: 95%;
    }

    #inputs {
        width: 95%;
    }

    .horario {
        min-width: 85%;
    }

    #help-content {
        width: 90%;
        margin: 25% 5%;
    }

    button#help-inside {
        margin-top: 90%;
    }
}

@media screen and (max-width: 375px) {
    #container {
        width: 97%;
        height: 95%;
    }

    #inputs{
        width: 100%;
    }
    .horario {
        min-width: 95%;
    }

    #help-content {
        width: 95%;
        margin: 25% 2.5%;
    }
}